.App {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 20px 50px;
}

#associationCharts {
  display: flex;
  justify-items: center;
  align-items: center;
}

#associationCharts > * {
  max-width: 500px;
  max-height: 500px;
  padding: 30px;
}
